@use "../../../styles.scss" as *;
.navbar {
  background-color: $main;
  select {
    border: none;
    border-radius: .25rem;
  }
  .counter{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
  }
}
