<div class="container">
  <h2>Watch list</h2>
  @if(wishlist().length==0){

  <div class="heartbreak">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="200"
      height="200"
      fill="#D1D1D1"
      class="bi bi-heartbreak-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586M7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77"
      />
    </svg>
    <p>No Movies in watch list</p>
    <button class="btn w-25" routerLink="/home">Back to home</button>
  </div>

  } @else { @for(item of wishlist();track item.id){
  <div class="card h-100 shadow-sm border-0">
    <div class="row align-items-center">
      <div class="col-3">
        <img
          [src]="'https://image.tmdb.org/t/p/w500'+item.poster_path"
          class="img-fluid"
          alt="{{ item.title }}"
          style="object-fit: cover; height: 250px"
        />
      </div>
      <div class="col-4">
        <h5 class="card-title">{{ item.title }}</h5>

        <p class="text-muted text-primary">{{item.overview}}</p>
      </div>
      <div class="col-2">
        <p class="fw-bold fs-5 mb-3">{{ item.genre_ids }}</p>
      </div>
      <div class="col-3">
        <button class="btn btn-danger">Remove from Wishlist</button>
      </div>
    </div>
  </div>
  } }
</div>
