<div class="landing">
  <div class="container">
    <div class="landing__content rounded-3">
      <div class="overlay"></div>
      <div class="landing__text">
        <h2>Welcome to our movie app</h2>
        <p>Millions of movies, TV shows and people to discover. Explore now.</p>
        <div class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search and Explore...."
          />
          <button class="btn">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
