<div class="landing">
  <div class="container">
    <!-- first section -->
    <div class="landing__content rounded-3">
      <div class="overlay"></div>
      <div class="landing__text">
        <h2>Welcome to our movie app</h2>
        <p>Millions of movies, TV shows and people to discover. Explore now.</p>
        <div class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search and Explore...."
          />
          <button class="btn">Search</button>
        </div>
      </div>
    </div>
  </div>
  <!-- second section -->
  <div class="landing__movies">
    <div class="container">
      <h2 class="my-5">Now Playing</h2>
      @if(isLoading()){
      <p>Loading movies .....</p>
      }@else if (error()) {
      <p class="text-danger">{{ error() }}</p>
      }@else {
      <div class="row g-4">
        @for(movie of nowPlaying(); track movie.id) {
        <div class="col col-lg-2 col-md-3 col-sm-6">
          <app-movie-card [movie]="movie"></app-movie-card>
        </div>
        }
      </div>
      }
      <!-- pagination -->
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
