<div class="card border-0">
  <img [src]=" imageUrl()" class="card-img-top rounded-5" alt="..." />
  <div class="card-body">
    <h6 class="card-title fs-5">{{movie()?.title}}</h6>
    <div class="d-flex justify-content-between align-items-center">
      <p class="card-text text-muted mb-0">{{movie()?.release_date}}</p>

      <i
        class="bi fs-3"
        [class.bi-heart-fill]="isInWishlist(movie()!)"
        [class.bi-heart]="!isInWishlist(movie()!)"
         (click)="toggleWishlist($event,movie()!)"
        style="cursor: pointer"
      ></i>
    </div>
  </div>
</div>
