@use "../../../../styles.scss" as *;

.review-rating{
  background-color: $main;
  padding: 5px 8px;
  border-radius: 10px;
}
.poster-image{
  max-height: 30rem;
}
.movie-title{
.btn-outline-warning{
 color:  $main !important;
}
}
