@use "../../../../styles.scss" as *;

.container {
  margin: 10rem 0;
  .serach-input {
    width: 100%;
    @media (min-width: 992px) {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .btn {
    background-color: $main;
  }
}
